
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="addAccount">
        <fieldset>
            <legend>Create a new Account</legend>
                <label for="newEmail">Email Address: </label>
                <input type="email" id="newEmail" name="newEmail">

                <label for="newPass">Password</label>
                <input type="text" id="newPass"name="newPass">
                <input type="submit">
        </fieldset>
    </form>
    <br>
    <form id="login">
        <fieldset>
            <legend>Login to an existing account</legend>
                <label for="oldEmail">Email Address: </label>
                <input type="email" id ="oldEmail" name="oldEmail">

                <label for="oldPass">Password</label>
                <input type="text" id="oldPass" name="oldPass">
                <input type="submit">
        </fieldset>
    </form>
</body>
</html>